html {
  font-size: 14px;
    background-color: yellow;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: yellow;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    background-color: yellow;
}

html {
    position: relative;
    min-height: 100%;
    background-color: yellow;
}

body {
    margin-bottom: 60px;
    background-color: yellow;
    font-weight: bold;
}

body header {
    background-color: yellow;
}

.navbar {
    background-color: yellow;
    background: yellow;
                
}

.bg-white {
    background-color: yellow;
    --bs-bg-opacity: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}